[build]
command = "npm run build"
publish = "dist"

[build.environment]
NODE_VERSION = "22"
NODE_ENV = "production"
NPM_FLAGS = "--include=dev"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "/*"
[headers.values]
X-Frame-Options = "SAMEORIGIN"
X-Content-Type-Options = "nosniff"
X-XSS-Protection = "1; mode=block"
